@use './assets' as *;

.start-game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100svh;
	gap: 2em;
	background-color: $dark-blue-bgc;
	color: $light-blue-font;
	font-weight: bold;
	&__title {
		font-size: calc(4rem + 2.5vw);
	}
	.items-box {
		width: min(700px, 90%);
		padding: 4em 4em 0;
		margin-bottom: 3em;
		background-color: $white-bgc;
		border-radius: 25px;

		.item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 1em;
			font-size: clamp(1rem, 2.5vw, 2rem);

			.button-box {
				display: flex;
				width: 100%;
				gap: calc(0.5rem + 2vw);
				margin-bottom: 2em;
				&__button:hover {
					background-color: $blue-hover;
				}
				&__button {
					width: 100%;
					padding: 1em 0 1em 0;
					font-size: clamp(1rem, 2.5vw, 2rem);
					color: $white-font;
					background-color: $light-blue-bgc;
					font-weight: bold;
					border-radius: 3rem;
					border: none;
					cursor: pointer;
					transition: background-color 0.3s;

					&--primary {
						margin-top: 1em;
						background-color: $primary;
					}
					&--primary:hover {
						background-color: $primary-hover;
					}
				}
				&__button[autofocus] {
					background-color: $blue-bgc;
				}
			}
		}
	}
}
// classes for Toggle in Js

// .hide-start-setup{
// 	display: none;
// }
