@use 'assets' as *;

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100svh;
	background-color: $shadow-bg;
	z-index: 100;
	.buttons-container {
        display: flex;
        flex-direction: column;
        padding:2em 3em;
        gap: 1.5em;
		background-color: $white-bgc;
        border-radius: 10px;
		width: min(80%, 400px);
        
		&__btn {
            font-weight: bold;
            font-size: 1.4rem;
			@include main-content-butons;
            padding: .9em;
            background-color: $grey-bgc;
            color: $dark-blue-font;

            &--restart{
                background-color: $primary;
                color: #fff;
            }
		}
	}
}
.hide-button-menu{
	display: none;
}
@media (max-height: 567px) {
	.menu {
		transform: scaleY(2.5);
		.buttons-container {
			transform: scaleY(0.4);
		}
	}
}