// primary
$primary: #fda517;
//fonts
$white-font: #fcfcfc;
$light-blue-font: #7191a5;
$dark-blue-font: #152937;
$blue-font:  #304859;
//backgrounds
$white-bgc: #fcfcfc;
$blue-bgc: #304859;
$light-blue-bgc: #bcced9;
$dark-blue-bgc: #152937;
$grey-bgc: #dfe7ec;
