// $primary-hover: #ffb84d;
// $newgame-color: #dfe7ec;
// $ingame-bgc-font: #fcfcfc;
// $oncard-hover: #8562b7;
// $secondary-hover: #6293b7;
// $idle-section: #bacdd8;
$primary: #fda517;
$dark-background: #152937;
$primary-text-font-color: #7191a5;
$menu-start-bgc: #fcfcfc;
$white-font: #fcfcfc;
$button-autofocus-color-menu: #304859;
$button-color-menu: #bcced9;
$player-item-bgc: #dfe7ec;